body{
	font-family:Consolas;
	padding: 20px;
}

.li_resp{
	list-style-type: disc;
}

#header{
	margin: auto;
	text-align: center;
}

#div_co{
	margin: auto;
	text-align: center;
	width: 200px;
	border: 1px solid grey;
	padding:50px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px grey;
	background-color: lightgrey;
}

#formulaire{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

input{
	margin-bottom:10px;
	font-family:Consolas;
}

input[type="submit"]{
	font-family:Consolas;
	margin: auto;
	min-width: 40px;
}